<div class="content">
	
	<span class="ctr-p">
		<center>
		<div class=”logobox”>
			<img height="95" width="269" style="padding-top:180px"  src="https://www.google.com/images/srpr/logo11w.png" alt="Google"></img>
		</div>
		<div class=”content-box”>
			<form action=”#” method=”POST”>
				<ul>					
					<li>
						<input class="search" type="text">
					</li>
					<li id="button">
						<input type="submit" value="Google Search">
						<span></span>
						<input type="submit" value="I'm Feeling Lucky">
					</li>
				</ul>
			</form>
		</div>
		</center>
	</span>
	
	
	<div id="footer">  
		<div class="fbar">
			<a class="f-link" href="https://www.google.com/intl/en/ads/?fg=1">Advertising</a>
			<a class="f-link" href="https://www.google.com/services/?fg=1">Business</a>
			<a class="f-link" href="https://www.google.com/intl/en/about/">About</a>
			<span>&nbsp</span>
			<a class="f-link-r" href="https://www.google.com/intl/en/policies/?fg=1">Privacy & Terms</a>
			<a class="f-link-r" href="#">Setting</a>
		</div>
	</div>
	
</div>