/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 
.navbar{
	left: 0;
	min-width: 1069px;
	position: absolute;
	top: 0;
	width: 100%;
	font: 13px/27px Arial,sans-serif;
	height: 60px;
	
}
 
.nav{
z-index: 987;
height: 60px;
line-height: 58px;
vertical-align: middle;
float: right;
padding-right: 30px;
}


ul{
list-style-type: none;
margin: 0;
padding: 0;
}

.nav li{
display: inline;
}

.nav-link{
padding-right: 15px;
text-decoration:none;
float: left;
vertical-align: middle;
}


#right-links{
float: right;
margin-right: 2%;
}


.app-logo
{
	vertical-align: middle;
}

.top-button
{
	padding-right: 15px;
	text-decoration:none;
	border: 1px solid #4285f4;
	font-weight: bold;
	color: #fff;
	outline: none;
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	
	display: inline-block;
	line-height: 28px;
	padding: 0 12px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}